<h1><%= @blogger.name %><h1>
<h4>Age: <%= @blogger.age%></h4>
<p> <%= @blogger.bio %> </p>

<%= pluralize(@blogger.posts.count, "Post")%>:

<ul>
<% @blogger.posts.each do |post| %>
    <li><%= post.title %></li>
    <%= pluralize(post.likes, "like") %><br>
<% end %>
</ul>

Featured Post:
<ul>
    <li><%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %></li>
</ul>

Top 5 Destinations:
<ol>
    <%# @blogger.top_destinations[0..4].each do |destination| %>
    <li> <%#= destination.name %> </li>
    <%# end %>
</ol>