<h1><%= @post.title %></h1>
Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %><br>
Destination: <%= link_to @post.destination.name, destination_path(@post.destination) %><br>

<p> <%= @post.content %> </p>

Post currently has <%= pluralize(@post.likes, "like") %>
<%= button_to 'Like This Post', { action: 'like' }%>
